<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{nombrePagina}
    body
        header.barra
            h1 UpTask - Administrador de proyectos
            a(href="#") Cerrar sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevoProyecto" class="boton") Nuevo Proyecto
                        span +
                .panel.lista-proyectos
                    h2 proyectos
                    ul#proyectos.proyectos
                        li
                            a(href="#") Diseño de tienda
                        li
                            a(href="#") Diseño de blog
                        li
                            a(href="#") Diseño de logotipo

            block contenido