extends layout

block contenido
    .contenido-principal   
        h1 #{nombrePagina}
        
        if errors
            each error in errors
                .alerta.error #{error.texto}

        form.agregar-proyecto(action="/nuevoProyecto" method="POST")
            .campo 
                label(for="nombre") Nombre proyecto:
                input(type="text" id="nombre" name="nombre" placeholder="Nombre proyecto")
            .campo.enviar
                input(type="submit" value="Agregar" class="boton")